#!/usr/bin/make -f

export DH_VERBOSE = 1
export QT_SELECT = qt6

%:
	dh $@

override_dh_auto_configure:
	cd src/code/showbox && qmake6 showbox.pro

override_dh_auto_build:
	$(MAKE) -C src/code/showbox

override_dh_auto_install:
	install -D -m 755 src/code/showbox/bin/showbox debian/showbox/usr/bin/showbox
	install -D -m 644 packaging/deb/debian/showbox.desktop debian/showbox/usr/share/applications/showbox.desktop

override_dh_auto_clean:
	$(MAKE) -C src/code/showbox clean || true
	rm -f src/code/showbox/bin/showbox

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
